<!-- views/skills-view -->
<!DOCTYPE html>
<html>
<head>
	<title>View Skills</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>

    <style type="text/css">
		body {
			padding-top:80px; word-wrap:break-word; 
		}
        #skillsView tr td {
            padding: 10px;
        }
    </style>
    <script type="text/javascript">
        jQuery(function() {

            $.post("/skills-view", {data : ""}, function(res){
                $('#skillsList').html(res);
            });
        });
    </script>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
        	<h1>View Skills</h1>
       		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/char-menu" class="btn btn-default btn-sm">Back</a>
    	</div>

    	<div class="row">

    		<div class="col-md-12">
    			<div class="well">
                   <div id="skillsList"></div>
    			</div>
    		</div>
    	</div>
	</div>
</body>
</html>