<!-- views/feats-entry -->
<!DOCTYPE html>
<html>
<head>
	<title>Skills Entry Form</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/entries.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        jQuery(function() {
            $('.num').keypress(function(evt) {
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    evt.preventDefault();
                }
                return true;
            });

            $('#writeSkills').on('click', function(){
                var skillData = $('#skillsEntryForm').serializeArray();

                if ($('#skillName').val() == "") {
                    alert("You must enter a name for the Skill!");

                } else if ($('#page').val() == "") {
                    alert("You must enter a page number for the Skill!");
                } else {
                    $.post("/skills-entry", {data : skillData}, function(res){
                        window.location.href = res.response;
                    });
                }
            });
        });
    </script>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
        	<h1>3.5 DND Skills Entry Form</h1>
       		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/main" class="btn btn-default btn-sm">Back</a>
    	</div>

    	<div class="row">

    		<div class="col-sm-12">
    			<div class="well">
    				<h3>DO NOT USE UNLESS YOU HAVE BEEN CONTACTED BY JOE!</h3>
                    <ul>
                        <li>For comma delimited fields (ones that are seperated by commas) include no spaces between the end of one entry, the comma, and the beginning of the next entry. For example, a class skill that is for both Fighters and Monks you would put "Fighter,Monk"</li> 
                    </ul>
                    <button id='writeSkills' type='button' class='btn btn-warning btn-md'>Submit Skills</button>
    			</div>
                <br />
                <form id="skillsEntryForm">
                    <table id="skillDetails">
                        <tr>
                            <td>
                                <label for="skillName">Skill Name:</label>
                                <input type="text" id="skillName" class="form-control" name="skillName" size="10">
                            </td>
                            <td>
                                <label for="skillAttr">Skill Primary Attr:</label>
                                <select id="skillAttr" name="skillAttr">
                                    <option value="STR">Strength</option>
                                    <option value="DEX">Dexterity</option>
                                    <option value="CON">Constitution</option>
                                    <option value="INT">Intelligence</option>
                                    <option value="WIS">Wisdom</option>
                                    <option value="CHA">Charisma</option>
                                </select>
                            </td>
                            <td>
                                <label for="skillClasses">Class Skill For (seperated by Commas):</label>
                                <textarea id='skillClasses' class='form-control' name='skillClasses' rows='6' cols='8'></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="skillSyn">Gives Synergy Bonus to (seperated by Commas):</label>
                                <input type="text" id="skillSyn" class="form-control" name="skillSyn" size="10">
                            </td>
                            <td>
                                <label for="short">Short Description: </label>
                                <input id="short" type='text' class='form-control' name='short' size='15'>
                            </td>
                            <td>
                                <label for="long">Long Description: </label>
                                <textarea id="long" class='form-control' name='long' rows='10' cols='30'></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="book">Book: </label>
                                <%- books %>
                                <label for="page">Page: </label>
                                <input id="page" type='text' class='form-control num' name='page' size=4>
                            </td>
                        </tr>
                    </table>
                </form>
                <br /><br /><br />
    		</div>
    	</div>
	</div>
</body>
</html>