<!-- views/minecraft-menu -->
<!DOCTYPE html>
<html>
<head>
	<title>404 Error</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/jquery.mobile.custom.structure.min.css">
    <link rel="stylesheet" type="text/css" href="/jquery.mobile.custom.theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../js/jquery.mobile.custom.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>

    <style type="text/css">
		body {
			padding-top:80px; word-wrap:break-word; 
		}
    </style>

    <script type="text/javascript">
        
    </script>
</head>
<body>
	<div data-role="page" id="pageone" class="container">
		<div data-role="header" class="page-header text-center">
        	<h1>404 Page Not Found!</h1>
       		<a href="/main-menu" class="btn btn-default btn-sm">Back</a>
    	</div>

    	<div data-role="main" class="row ui-content">

    		<div class="col-sm-6">
    			<div class="well">
    				 <p>We're Sorry, your request cannot be completed as entered. 
                        Please delete your hard drive and try again...</p>    
    			</div>
    		</div>
    	</div>
	</div>
</body>
</html>