<!-- views/minecraft-menu -->
<!DOCTYPE html>
<html>
<head>
	<title>Minecraft Server Control</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/jquery.mobile.custom.structure.min.css">
    <link rel="stylesheet" type="text/css" href="/jquery.mobile.custom.theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../js/jquery.mobile.custom.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>

    <style type="text/css">
		body {
			padding-top:80px; word-wrap:break-word; 
		}
    </style>

    <script type="text/javascript">
        jQuery(function() { 
            $('#openProp').on("click", function() {
                var sel = $('#sname_select').val();
                window.location.href = "/sprop-select?selection=" + sel;
            });
            $('#startServ').on("click", function() {
                var sel = $('#sname_select').val();
                window.location.href = "/server-console?selection=" + sel;
            });

            $('#activeServer').html("<b>Currently Active Server:</b> <%= active %>");
        });
    </script>
</head>
<body>
	<div data-role="page" id="pageone" class="container">
		<div data-role="header" class="page-header text-center">
        	<h1>Minecraft Control Menu</h1>
       		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
       		<a href="/main" class="btn btn-default btn-sm">Back</a>
    	</div>
    
    	<div data-role="main" class="row ui-content">
        
    		<div class="col-sm-6">
    			<div class="well">   
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                    <form id="sprop_select" action='/sprop-select' method="post">
                        <select name="sname_select" id="sname_select">
                            <option value="enhanced">Enhanced</option>
                            <option value="ferret">The Ferret Business</option>
                            <option value="vanilla">Vanilla</option>
                        </select>
                        <button id="openProp" type="button" class="btn btn-default btn-sm"><i class="fa fa-cog"></i> Open Properties</button>
                    </form>
                    <br /><br />
                    <button id="startServ" type="button" class="btn btn-warning btn-md"> Open Console</button>
                    <br /><br /><br />
                    <div id="activeServer"></div>
                    <br /><br /><br /><br />
                    <form id="uploadForm" action="/server-upload" method="POST" enctype="multipart/form-data" >
                        <table id="profile_Properties">
                            <tr>                        
                                <td>
                                    <label for="server_file">Upload Server Zipfile</label>
                                    <input id="server_file" name="zip" class="form-control" type="file" />
                                </td>
                                <td>
                                    <input id="server_file_submit" class="btn btn-default btn-md" type="submit" value="Submit Zipfile" />
                                </td>
                            </tr>
                        </table>
                    </form>
    			</div>
    		</div>
    	</div>
	</div>
</body>
</html>